.ReactModalPortal > div {
	opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease-in-out;
}

.ReactModal__Content {
	margin: 3rem;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	background-color: $primary-color;
	border-radius: 4px;
	word-break: break-all;
	word-wrap: normal;
	border: 1px solid lighten($secondary-color, 60%);
	margin: 3rem;
}
