.my-notifs {
	width: 100%;
	margin-bottom: 40px;
	padding: 1rem;
}

.my-notif {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px lighten($secondary-color, 60%) solid;
	cursor: pointer;

	.my-notif-details {
		display: flex;
		align-items: center;

		.my-notif-image {
			width: 2.5rem;
			height: auto;
			border-radius: 50%;
		}

		.my-notif-text {
			padding-left: 0.8rem;

			.my-notif-heading {
				font-size: 0.95rem;
				text-decoration: none;
				background: $alternate-gradient-color;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.my-notif-date {
				font-size: 0.75rem;
				color: lighten($secondary-color, 20%);
				margin-top: 5px;
			}
		}
	}

	.my-notif-post {
		width: 2.5rem;
		align-self: flex-end;
		float: right;
	}
}

.my-welcome-notif {
	margin-top: 3rem;
	padding-bottom: 2rem;
	border-bottom: 1px lighten($secondary-color, 60%) solid;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.my-welcome-notif-heading {
		padding-left: 0.8rem;
		font-size: 1.05rem;
		text-decoration: none;
		background: $gradient-color;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-align: center;
	}

	.my-welcome-notif-gh-buttons {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		span {
			margin-left: 10px;
			margin-top: 10px;
		}
	}
}
