.postDetails {
	display: flex;
	flex-direction: column;
	margin: 3rem 0.4rem;
}

.postDetails--image {
	flex: 2;

	img {
		width: 100%;
	}
}

.postDetails--details {
	flex: 1;
}

.postDetails--meta {
	display: flex;
	align-items: center;
	margin: 20px 0;
	img {
		width: 40px;
		border-radius: 100%;
	}
	p {
		padding-left: 35px;
		font-size: 1rem;
		color: $link-color;
		font-family: $primary-font;
		font-weight: 600;
	}
}
