.user-page {
	margin: 4rem 0.8rem;
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-profile {
	.user-profile__name {
		margin-top: 20px;
		font-size: 1.2rem;
		color: $secondary-color;
	}

	.user-profile__username {
		font-size: 1rem;
		color: lighten($secondary-color, 20%);
	}
	img {
		width: 6rem;
		border-radius: 100%;
	}
}

.user-stats {
	display: flex;
	align-items: center;
	justify-content: center;
	div {
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		h3 {
			font-size: 1.5rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

@media only screen and (max-width: 500px) {
	.user-profile {
		.user-profile__name {
			margin-top: 20px;
			font-size: 0.8rem;
		}
		.user-profile__username {
			font-size: 0.7rem;
			margin-top: 6px;
		}
		img {
			width: 4rem;
		}
	}
	.user-stats {
		div {
			margin: 0 0.5rem;
			h3 {
				font-size: 1.2rem;
			}
			p {
				font-size: 0.9rem;
			}
		}
	}
}

.user-following-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color: $primary-color;
	background-color: $secondary-color;
	outline: none;
	font-family: $primary-font;
	border: none;
	border-radius: 2px;
	padding: 1.5px;
	font-size: 1rem;
	cursor: pointer;
}

.user-follow-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color: $primary-color;
	background-color: #0277bd;
	outline: none;
	font-family: $primary-font;
	border: none;
	border-radius: 2px;
	padding: 1.5px;
	font-size: 1rem;
	cursor: pointer;
}

.user-posts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.2rem;
	grid-auto-rows: auto;
	align-items: center;
	justify-content: center;
	margin: 5rem 0;
}

.post-container {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary-color;
	border: 1px solid #aaa;
}

.post-container__image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.3s ease;
	backface-visibility: hidden;
	cursor: pointer;
}

.post-container__details {
	transition: 0.3s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.post-container:hover .post-container__image {
	opacity: 0.3;
}

.post-container:hover .post-container__details {
	opacity: 1;
}

.post-container__details {
	display: flex;
	align-items: center;
	justify-content: center;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		font-size: 1.2rem;
		color: $secondary-color;
		p {
			margin-left: 5px;
			font-weight: 600;
		}
	}
}

@media only screen and (max-width: 500px) {
	.post-container__details {
		left: 55%;
	}
}

.cta-buttons {
	position: fixed;
	right: 10%;
	bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	button {
		cursor: pointer;
		z-index: 999;
		margin: 0 8px;
		width: 50px;
		height: 50px;
		background-color: #0277bd;
		color: #fff;
		border: none;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 8px #222;
		outline: none;
		transition: all 0.3s;
		&:hover {
			transform: scale(1.08);
		}
		svg {
			font-size: 1.5rem;
		}
	}
}
