$primary-color: #fff;
$secondary-color: #333;
$gradient-color: linear-gradient(
	90deg,
	rgba(212, 1, 129, 1) 0%,
	rgba(26, 251, 36, 1) 40%,
	rgba(0, 212, 255, 1) 100%
);
$link-color: #1a237e;

$primary-font: "Quicksand", sans-serif;
$secondary-font: "Sacramento", cursive;
